<%- include ('../partials/header.ejs') %>
<main>
    <%- include ('../partials/banner.ejs') %>    
    <%- include ('../partials/features.ejs') %>  
    <%- include ('../partials/clientarea.ejs') %>  
</main>  
<%- include ('../partials/footer.ejs') %>