<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= locals.description %>">

    <!-- ========== Page Title ========== -->
    <title>
        <%= locals.title %>
    </title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../css/themify-icons.css" rel="stylesheet" />
    <link href="../css/flaticon-set.css" rel="stylesheet" />
    <link href="../css/elegant-icons.css" rel="stylesheet" />
    <link href="../css/magnific-popup.css" rel="stylesheet" />
    <link href="../css/owl.carousel.min.css" rel="stylesheet" />
    <link href="../css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/bootsnav.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="../css/responsive.css" rel="stylesheet" />

    <!-- ========== End Stylesheet ========== -->


</head>

<body class="blue">
    <%- include ('../partials/header') %>
        <main>
            <%- body %>
        </main>
        <%- include ('../partials/footer') %>

            <!-- jQuery Frameworks
    ============================================= -->
            <script src="/js/jquery-3.6.0.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/jquery.appear.js"></script>
            <script src="/js/jquery.easing.min.js"></script>
            <script src="/js/jquery.magnific-popup.min.js"></script>
            <script src="/js/modernizr.custom.13711.js"></script>
            <script src="/js/owl.carousel.min.js"></script>
            <script src="/js/wow.min.js"></script>
            <script src="/js/progress-bar.min.js"></script>
            <script src="/js/isotope.pkgd.min.js"></script>
            <script src="/js/imagesloaded.pkgd.min.js"></script>
            <script src="/js/count-to.js"></script>
            <script src="/js/YTPlayer.min.js"></script>
            <script src="/js/jquery.nice-select.min.js"></script>
            <script src="/js/bootsnav.js"></script>
            <script src="/js/main.js"></script>
            <script src="/js/script.js"></script>

</body>

</html>