<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/meta') %>

    <body class="blue">
        <%- include ('../partials/header') %>
            <main class="pt-5">
                <%- body %>
            </main>
        <%- include ('../partials/footer') %>

                <!-- jQuery Frameworks
    ============================================= -->
        <%- include ('../partials/jQuery') %>

    </body>

</html>