<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/meta') %>

    <body class="blue">
        <%- include ('../partials/header') %>
        <%- include ('../partials/preLoader') %>

            <main class="">
                <%- body %>
            </main>
        <%- include ('../partials/footer') %>

                <!-- jQuery Frameworks
    ============================================= -->
        <%- include ('../partials/jQuery') %>

        <!-- $(document).ready(function(){
            $(".owl-carousel").owlCarousel();
        });
           -->

    </body>

</html>