<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover"
    style="background-image: url(/img/banner/12.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Job List</h1>
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">Job List</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Blog -->

<!-- Search And Filter Starts Here  -->
<div class="container mt-5">
    <form action="/joblist" method="get">
        <div class="p-2 search-form">
            <div class="input-group">
                <input type="text" name="q" id="searchTerm" class="form-control" placeholder="Search for jobs"
                    value="<%= searchTerm %>" style="border: none;">
                <button class="btn find-job" type="submit" style="border-right: none;">Find Job</button>
                <button class="btn filter-job"  type="button" data-toggle="modal" data-target="#exampleModal"><i
                        class="fas fa-filter px-1"></i>Filters
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Search And Filter Ends Here  -->

<div class="container mt-5">
    <!-- Jobs Card starts here  -->
    <div class="row">
        <% data.forEach(post=> { %>
            <div class="col-lg-4 col-md-12">
                <div class="card border border-0 custom-card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-around">
                            <div class="col-8 job-title">
                                <div class="anchor-title text-truncate">
                                    <a href="/jobdetails/<%= post._id %>">
                                        <%= post.title %>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 d-flex justify-content-end">
                                <span class="jobCategory-span">
                                    <%= post.jobCategory %>
                                </span>
                            </div>
                        </div>
                        <div class="mt-3">
                            <% if (post.workType !=='Internship' ) { %>
                                <p>
                                    Experience: <%= post.experience %> years
                                </p>
                                <% } else { %>
                                    <p>
                                        No Experience Needed
                                    </p>
                                    <% } %>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-dark butt my-2" style="font-size: 12px;">
                                <%= post.workType %>
                            </button>
                            <button class="btn btn-outline-dark butt my-2" style="font-size: 12px;">
                                <%= post.jobType %>
                            </button>
                            <button class="btn btn-outline-dark butt" style="font-size: 12px;">
                                <%= post.jobLocation %>
                            </button>
                        </div>
                        <p class="mt-4" style="color: #18191C; font-size: 16px; font-weight: 500; line-height: 24px;">
                           <%= post.companyName %>
                        </p>
                        <p class="mt-4">
                            Salary Range:   <%= post.salaryRange %>
                        </p>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
    <!-- Jobs Card Ends here  -->
    
    <!-- Filter Modal Starts Here -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Job Filter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/joblist" method="get">
                    <div class="modal-body">

                        <div class="row">
                            <div class="form-group col-6">
                                <label for="location">Location:</label>
                                <input type="text" name="jobLocation" id="jobLocation" class="form-control"
                                    value="<%= jobLocation %>">
                            </div>

                            <div class="form-group col-6">
                                <label for="experience">Experience:</label>
                                <input type="number" name="experience" id="experience" class="form-control"
                                    value="<%= experience %>">
                            </div>

                            <div class="form-group col-6">
                                <div class="mb-1">
                                    <label for="workType">Work Type:</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="workTypeContract" name="workType"
                                        value="Contract" <%=workType==='Contract' ? 'checked' : '' %>>
                                    <label class="form-check-label" for="workTypeContract">Contract</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="workTypeFullTime" name="workType"
                                        value="Full Time" <%=workType==='Full Time' ? 'checked' : '' %>>
                                    <label class="form-check-label" for="workTypeFullTime">Full Time</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="workTypePartTime" name="workType"
                                        value="Part Time" <%=workType==='Part Time' ? 'checked' : '' %>>
                                    <label class="form-check-label" for="workTypePartTime">Part Time</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="workTypeInternship" name="workType"
                                        value="Internship" <%=workType==='Internship' ? 'checked' : '' %>>
                                    <label class="form-check-label" for="workTypeInternship">Internship</label>
                                </div>
                            </div>

                            <div class="form-group col-6">
                                <div class="mb-1">
                                    <label for="jobType">Job Type:</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="jobTypeHybrid" name="jobType"
                                        value="Hybrid" <%=jobType==='Hybrid' ? 'checked' : '' %>>
                                    <label class="form-check-label" for="jobTypeHybrid">Hybrid</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="jobTypeRemote" name="jobType"
                                        value="Remote" <%=jobType==='Remote' ? 'checked' : '' %>>
                                    <label class="form-check-label" for="jobTypeRemote">Remote</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="jobTypeOnsite" name="jobType"
                                        value="Onsite" <%=jobType==='Onsite' ? 'checked' : '' %>>
                                    <label class="form-check-label" for="jobTypeOnsite">Onsite</label>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex row justify-content-around mx-auto">
                            <div class="form-group col-lg-6 col-md-12 ">
                                <button class="filter" type="submit">Apply Filters</button>
                            </div>
                            <div class="form-group col-lg-6 col-md-12">
                                <a href="/resetfilters" class="btn btn-secondary mt-1 filter">Reset
                                    Filters</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Filter Modal Ends Here -->


    <!-- Pagination -->
    <div class="row">
        <div class="col-md-12 pagi-area text-center">
            <nav aria-label="navigation">
                <ul class="pagination">
                    <% if (page> 1) { %>
                        <li class="page-item"><a class="page-link" href="?page=<%= page - 1 %>"><i
                                    class="fas fa-angle-double-left"></i></a></li>
                        <% } %>
                            <li class="page-item active"><a class="page-link" href="">
                                    <%= page %>
                                </a></li>
                            <% if (page < totalPages) { %>
                                <li class="page-item"><a class="page-link" href="?page=<%= page + 1 %>"><i
                                            class="fas fa-angle-double-right"></i></a></li>
                                <% } %>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- RECOMMENDED SECTION -->
<% if (recommendedJobs && recommendedJobs.length> 0) { %>
    <div class="container-fluid recommended-Job mt-5 mx-auto">
        <div class="container py-5">
            <div class="title">
                <h4>Recommended Jobs
                    <hr>
                </h4>
            </div>
            <div class="row">
                <% recommendedJobs.slice(0, 3).forEach(recommendedJob=> { %>
                    <div class="col-lg-4 col-md-12">
                        <div class="card border border-0 custom-card">
                            <div class="card-body">
                                <div class="row d-flex justify-content-around">
                                    <div class="col-8 job-title">
                                        <div class="anchor-title text-truncate">
                                            <a href="/jobdetails/<%= recommendedJob._id %>">
                                                <%= recommendedJob.title %>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4 d-flex justify-content-end">
                                        <span class="jobCategory-span">
                                            <%= recommendedJob.jobCategory %>
                                        </span>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <% if (recommendedJob.workType !=='Internship' ) { %>
                                        <p>
                                            Experience: <%= recommendedJob.experience %> years
                                        </p>
                                        <% } else { %>
                                            <p>
                                                No Experience Needed
                                            </p>
                                            <% } %>
                                </div>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-outline-dark butt my-2">
                                        <%= recommendedJob.workType %>
                                    </button>
                                    <button class="btn btn-outline-dark butt my-2">
                                        <%= recommendedJob.jobType %>
                                    </button>
                                    <button class="btn btn-outline-dark butt">
                                        <%= recommendedJob.jobLocation %>
                                    </button>
                                </div>
                                <p class="mt-4" style="color: #18191C; font-size: 16px; font-weight: 500; line-height: 24px;">
                                    <%= recommendedJob.companyName %>
                                 </p>
                                 <p class="mt-4">
                                     Salary Range: <%= recommendedJob.salaryRange %>
                                 </p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <a href="/all-recommended-jobs" class="custom-link">View all recommended jobs</a>
            </div>
        </div>
    </div>
    <% } else { %>
        <div class="container-fluid recommended-Job mt-5 mx-auto">
            <p class="text-center">No recommended jobs available. Update your profile to get personalized job
                recommendations.</p>
        </div>
        <% } %>

            <!-- FOLLOW & SUBSCRIBE SECTION -->
            <div class="container-fluid follow-us bg-white mt-5 mx-auto">
                <div class="container py-3">
                    <div class="title">
                        <h4>Follow Us
                            <hr>
                        </h4>
                    </div>
                    <div class="row">
                        <div class="sidebar-item col-lg-6 col-md-12 my-3 social-sidebar">
                            <div class="sidebar-info">
                                <ul>
                                    <li class="facebook">
                                        <a
                                            href="https://www.facebook.com/profile.php?id=61555619157391&mibextid=ZbWKwL">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://www.instagram.com/teqverse?igsh=MjhhZWJ6bWoyazNk"><i
                                                class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="">
                                        <a href="https://twitter.com/teqverse56653">
                                            <i class="fab fa-xing"></i>
                                        </a>
                                    </li>
                                    <li class="pinterest">
                                        <a href="https://www.youtube.com/@TEQVERSE-ou4sv">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 p-0 mb-4">
                            <form action="/subscribe" method="post">
                                <div class="input-group col-12 p-0">
                                    <input type="email" name="email" class="form-control" id="email"
                                        placeholder="Subscribe to Latest Jobs">
                                    <button class="btn btn-outline-secondary" type="button" data-toggle="modal"
                                        data-target="#exampleModal"><i class="fas fa-paper-plane"></i></button>
    
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>


            <!-- End Blog -->
            <a href="https://wa.me/2349050340306" class="float" target="_blank">
                <i class="fa fa-whatsapp my-float"></i>
            </a>