<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover"
    style="background-image: url(/img/banner/12.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Job List</h1>
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">Job List</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Blog
    ============================================= -->
<div class="blog-area full-blog right-sidebar full-blog default-padding">
    <div class="container">
        <div class="blog-items">
            <div class="row">
                <div class="blog-content col-lg-8 col-md-12">
                    <div class="blog-item-box">
                        <!-- Single Item -->
                        <% data.forEach(post=> { %>
                            <div class="single-item">
                                <div class="item">
                                    <div class="info">

                                        <div class="row d-flex justify-content-around" >
                                            <div class="col ">
                                                <span class="post-date date">
                                                    <%= post.createdAt.toDateString() %>
                                                </span>
                                            </div>
                                            <div class="col d-flex justify-content-end">
                                                <span class="post-date date cat-btn">
                                                    <%= post.jobCategory %>
                                                </span>
                                            </div>
                                        </div>
                                        <h3 class="mt-2">
                                            <a href="/jobdetails/<%= post._id %>">
                                                <%= post.title %>
                                            </a>
                                        </h3>
                                        <h5>
                                           <%= post.jobType %> | <%= post.workType %> | <%= post.jobLocation %> 
                                        </h5>

                                        <% if (post.workType !== 'Internship') { %>
                                            <p>
                                                Experience: <%= post.experience %> years
                                            </p>
                                            <% } else { %>
                                                <p>
                                                    No Experience Needed
                                                </p>
                                            <% } %>
                                        
                                        <p>
                                           <%=post.jobOverview %>
                                        </p>
                                        
                                        
                                        <div class="d-flex justify-content-end">
                                            <a class="btn circle btn-theme border btn-sm"
                                            href="/jobdetails/<%= post._id %>">View More</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <!-- End Single Item -->
                    </div>

                    <!-- Pagination -->
                    <div class="row">
                        <div class="col-md-12 pagi-area text-center">
                            <nav aria-label="navigation">
                                <ul class="pagination">
                                    <% if (page> 1) { %>
                                        <li class="page-item"><a class="page-link" href="?page=<%= page - 1 %>"><i
                                                    class="fas fa-angle-double-left"></i></a></li>
                                        <% } %>
                                            <li class="page-item active"><a class="page-link" href="">
                                                    <%= page %>
                                                </a></li>
                                            <% if (page < totalPages) { %>
                                                <li class="page-item"><a class="page-link"
                                                        href="?page=<%= page + 1 %>"><i
                                                            class="fas fa-angle-double-right"></i></a></li>
                                                <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Start Sidebar -->
                <div class="sidebar col-lg-4 col-md-12">
                    <aside>
                        <div class="sidebar-item search">
                            <div class="sidebar-info">
                                <form action="/joblist" method="get">
                                    <input type="text" name="q" class="form-control" id="searchTerm"
                                        value="<%= searchTerm %>">
                                    <button type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Sort By Starts Here -->
                        <div class="sidebar-item category">
                            <div class="title">
                                <h4>Job Filter</h4>
                            </div>
                             <!-- Filter form -->
                             <form action="/joblist" method="get" class="mb-4">
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="location">Location:</label>
                                        <input type="text" name="jobLocation" id="jobLocation" class="form-control"
                                            value="<%= jobLocation %>">
                                    </div>

                                    <div class="form-group col-12">
                                        <label for="experience">Experience:</label>
                                        <input type="number" name="experience" id="experience" class="form-control"
                                            value="<%= experience %>">
                                    </div>

                                    <div class="form-group col-12">
                                        <label for="workType">Work Type:</label>
                                        <select name="workType" id="workType" class="form-control">
                                            <option value="">--Please choose an option--</option>
                                            <option value="Contract" <%=workType==='Contract' ? 'selected' : '' %>
                                                >Contract</option>
                                            <option value="Full Time" <%=workType==='Full Time' ? 'selected' : '' %>
                                                >Full Time</option>
                                            <option value="Part Time" <%=workType==='Part Time' ? 'selected' : '' %>
                                                >Part Time</option>
                                            <option value="Internship" <%=workType==='Internship' ? 'selected' : '' %>
                                                    >Internship</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-12">
                                        <label for="jobType">Job Type:</label>
                                        <select name="jobType" id="jobType" class="form-control">
                                            <option value="">--Please choose an option--</option>
                                            <option value="Hybrid" <%=jobType==='Hybrid' ? 'selected' : '' %>>Hybrid
                                            </option>
                                            <option value="Remote" <%=jobType==='Remote' ? 'selected' : '' %>>Remote
                                            </option>
                                            <option value="Onsite" <%=jobType==='Onsite' ? 'selected' : '' %>>Onsite
                                            </option>
                                        </select>
                                    </div>
                                    <div class="d-flex row justify-content-around m-auto">
                                        <div class="form-group col-6 ">
                                            <button class="filter" type="submit">Apply Filters</button>
                                        </div>
                                        <div class="form-group col-6">
                                            <a href="/resetfilters" class="btn btn-secondary mt-1 filter">Reset Filters</a>
                                        </div>
                                    </div>
                                    
                                </div>

                                <!-- <button type="submit" class="btn btn-primary">Apply Filters</button> -->
                            </form>
                        </div>
                        <!-- Sort By Ends HEre -->
                        <!-- Dynamic Recommended Job Post  -->
                        <div class="sidebar-item recent-post">
                            <div class="title">
                              <h4>Recommended Jobs</h4>
                            </div>
                            <ul>
                                <% recommendedJobs.slice(0, 6).forEach(recommendedJob => { %>
                                  <li>
                                    <div class="info">
                                      <div class="meta-title">
                                        <span class="post-date"><i class="fas fa-clock"></i> <%= recommendedJob.createdAt.toDateString() %></span>
                                      </div>
                                      <a href="/jobdetails/<%= recommendedJob._id %>"><%= recommendedJob.title %></a>
                                    </div>
                                  </li>
                                <% }) %>
                              </ul>
                              <br>
                              <br>
                              <div style="text-align: center;">
                                <a href="/all-recommended-jobs" style="display: inline-block; padding: 5px 10px; color: #007BFF; background-color: #fff; 
                                text-decoration: none; border-radius: 20px; transition: all 0.3s ease-in-out; border: 2px solid #007BFF;" 
                                onmouseover="this.style.color='#fff'; this.style.backgroundColor='#007BFF'; this.style.borderColor='#fff';" 
                                onmouseout="this.style.color='#007BFF'; this.style.backgroundColor='#fff'; this.style.borderColor='#007BFF';">View all recommended jobs</a>
                            </div>
                            
                              
                              
                              
                              
                          </div>
                          
                        <!-- Dynamic Recommended Job Post Ends Here  -->

                        <div class="sidebar-item social-sidebar">
                            <div class="title">
                                <h4>follow us</h4>
                            </div>
                            <div class="sidebar-info">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com/profile.php?id=61555619157391&mibextid=ZbWKwL">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://www.instagram.com/teqverse?igsh=MjhhZWJ6bWoyazNk"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="">
                                        <a href="https://twitter.com/teqverse56653">
                                            <i class="fab fa-xing"></i>
                                        </a>
                                    </li>
                                    <li class="pinterest">
                                        <a href="https://www.youtube.com/@TEQVERSE-ou4sv">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="" >
                                        <a href="https://www.tiktok.com/@teqverse?_t=8jODJgriF7e&_r=1"> <i class="fab fa-tiktok fa-3x" style="color: white;"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
                <!-- End Start Sidebar -->
            </div>
        </div>
    </div>
</div>
<!-- End Blog -->