<!--*******************
        Preloader start
    ********************-->
<div id="preloader" class="site-preloader" >
  <div class="loader-wrap">
      <div class=" ring ">
        <span></span>
      </div>
    <h2>TeqVerse</h2>
  </div>
</div>

<!--*******************
        Preloader end
    ********************-->

<!--**********************************
        Main wrapper start
    ***********************************-->
<div id="main-wrapper">
  <!--**********************************
            Nav header start
       ***********************************-->
  <div class="nav-header">
    <a href="/" class="brand-logo">
      <img src="/img/logo-blue.png" class="logo" alt="Logo">
    </a>
    <div class="nav-control">
      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
  </div>
  <!--**********************************
            Nav header end
        ***********************************-->


  <!--**********************************
            Header start
        ***********************************-->
  <div class="header">
    <div class="header-content">
      <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse justify-content-between">
          <div class="header-left">
            <form>
              <div class="input-group search-area">
                <span class="input-group-text"><a href="javascript:void(0)">
                    <svg width="22" height="23" viewbox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="10.7861" cy="11.2859" r="8.23951" stroke="#252525" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round"></circle>
                      <path d="M16.5168 17.4443L19.7472 20.6663" stroke="#252525" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg> </a></span>
                <input type="text" class="form-control" placeholder="Search" />
              </div>
            </form>
          </div>
          <ul class="navbar-nav header-right">
            <li class="nav-item ps-3">
              <div class="header-profile2">
                <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <div class="header-info2 d-flex align-items-center">
                    <% if (user) {%>
                      <% var currentHour=new Date().getHours(); var greeting="" ; if (currentHour < 12) {
                        greeting="Good Morning" ; } else if (currentHour < 18) { greeting="Good Afternoon" ; } else {
                        greeting="Good Evening" ; } %>
                        <div class="header-media">
                          <img src="images/user.jpg" class="avatar avatar-lg" alt="" />
                        </div>
                        <div class="header-info">
                          <h6>
                            <%= greeting %>, <%= user.first_name %>
                          </h6>
                          <p>
                            <%= user.email %>
                          </p>
                        </div>
                  </div>
                </a>
                <% } else { %>

                  <% } %>

                    <% if (user) {%>
                      <div class="profile-box">
                        <div class="products">
                          <div class="border-img">
                            <img src="images/user.jpg" class="avatar" alt="" />
                          </div>
                          <div class="ms-3">
                            <h6 class="mb-0">
                              <%= user.first_name %>
                                <%= user.last_name %>
                            </h6>
                            <span class="d-block mb-1">
                              <%= user.email %>
                            </span>
                            <span class="badge border-0 rounded">
                              <%= user.userCategory %>
                            </span>
                          </div>
                        </div>
                        <% } %>
                          <div class="account-setting">
                            <a href="app-profile-2.html" class="ai-icon">
                              <svg width="20" height="20" viewbox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M16.6666 17.5V15.8333C16.6666 14.9493 16.3154 14.1014 15.6903 13.4763C15.0652 12.8512 14.2173 12.5 13.3333 12.5H6.66658C5.78253 12.5 4.93468 12.8512 4.30956 13.4763C3.68444 14.1014 3.33325 14.9493 3.33325 15.8333V17.5"
                                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path
                                  d="M10.0001 9.16667C11.841 9.16667 13.3334 7.67428 13.3334 5.83333C13.3334 3.99238 11.841 2.5 10.0001 2.5C8.15913 2.5 6.66675 3.99238 6.66675 5.83333C6.66675 7.67428 8.15913 9.16667 10.0001 9.16667Z"
                                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                              </svg>
                              <span class="ms-2">Account Settings</span>
                            </a>
                            <a href="#" class="ai-icon">
                              <svg width="20" height="20" viewbox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M3.33341 3.33301H16.6667C17.5834 3.33301 18.3334 4.08301 18.3334 4.99967V14.9997C18.3334 15.9163 17.5834 16.6663 16.6667 16.6663H3.33341C2.41675 16.6663 1.66675 15.9163 1.66675 14.9997V4.99967C1.66675 4.08301 2.41675 3.33301 3.33341 3.33301Z"
                                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M18.3334 5L10.0001 10.8333L1.66675 5" stroke="white" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                              <span class="ms-2">Subscription</span>
                            </a>
                            <div class="d-flex align-items-center">
                              <a href="javascript:void(0);" class="dropdown-item ai-icon">
                                <div>
                                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                      d="M17.4999 10.6583C17.3688 12.0768 16.8365 13.4287 15.9651 14.5557C15.0938 15.6826 13.9195 16.5382 12.5797 17.0221C11.2398 17.5061 9.7899 17.5984 8.3995 17.2884C7.0091 16.9784 5.73575 16.2788 4.72844 15.2715C3.72113 14.2642 3.02153 12.9908 2.71151 11.6004C2.40148 10.21 2.49385 8.76007 2.9778 7.42025C3.46175 6.08042 4.31728 4.90614 5.44426 4.03479C6.57125 3.16345 7.92308 2.63109 9.34158 2.5C8.51109 3.62356 8.11146 5.00787 8.21536 6.40118C8.31926 7.79448 8.9198 9.10421 9.90775 10.0922C10.8957 11.0801 12.2054 11.6807 13.5987 11.7846C14.992 11.8885 16.3764 11.4888 17.4999 10.6583Z"
                                      stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                  </svg>
                                  <span class="ms-2">Dark Mode</span>
                                </div>
                              </a>
                              <div class="dz-layout">
                                <i class="fas fa-sun sun"></i>
                                <i class="fas fa-moon moon"></i>
                              </div>
                            </div>
                            <a href="/logout" class="ai-icon">
                              <svg width="20" height="20" viewbox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M7.5 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V4.16667C2.5 3.72464 2.67559 3.30072 2.98816 2.98816C3.30072 2.67559 3.72464 2.5 4.16667 2.5H7.5"
                                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M13.3333 14.1663L17.4999 9.99967L13.3333 5.83301" stroke="white"
                                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M17.5 10H7.5" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                              </svg>
                              <span class="ms-2">Logout </span>
                            </a>
                          </div>
                      </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

  <!--********************************** -->
            // Sidebar start
   <!-- ***********************************-->
  <div class="deznav">
    <div class="deznav-scroll">
      <ul class="metismenu" id="menu">
        <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
            <div class="menu-icon men-icon">
              <svg width="25" height="24" viewbox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.29077 9L12.2908 2L21.2908 9V20C21.2908 20.5304 21.0801 21.0391 20.705 21.4142C20.3299 21.7893 19.8212 22 19.2908 22H5.29077C4.76034 22 4.25163 21.7893 3.87656 21.4142C3.50149 21.0391 3.29077 20.5304 3.29077 20V9Z"
                  stroke="#252525" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M9.29077 22V12H15.2908V22" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

            </div>
            <span class="nav-text nav-txt">Profile</span>
          </a>
          <ul aria-expanded="false">
            <li><a href="/user-profile" style="color: black !important;">View Profile</a></li>
            <li><a href="/update-profile" style="color: black !important;">Edit Profile</a></li>
          </ul>

        </li>
        <li><a href="/user-review" class="" aria-expanded="false">
            <div class="menu-icon men-icon">
              <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M14.7379 2.76181H8.08493C6.00493 2.75381 4.29993 4.41181 4.25093 6.49081V17.2038C4.20493 19.3168 5.87993 21.0678 7.99293 21.1148C8.02393 21.1148 8.05393 21.1158 8.08493 21.1148H16.0739C18.1679 21.0298 19.8179 19.2998 19.8029 17.2038V8.03781L14.7379 2.76181Z"
                  stroke="#252525" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M14.4751 2.75V5.659C14.4751 7.079 15.6231 8.23 17.0431 8.234H19.7981" stroke="#252525"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M14.2882 15.3585H8.88818" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path d="M12.2432 11.606H8.88721" stroke="#252525" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

            </div>
            <span class="nav-text nav-txt">Review</span>
          </a>
        </li>
      </ul>
      <div class="switch-btn">
        <a href="/logout">
          <svg class="men-icon menu-icon" style="border-radius: 7px;" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18.36 6.63965C19.6184 7.89844 20.4753 9.50209 20.8223 11.2478C21.1693 12.9936 20.9909 14.803 20.3096 16.4474C19.6284 18.0918 18.4748 19.4972 16.9948 20.486C15.5148 21.4748 13.7749 22.0026 11.995 22.0026C10.2151 22.0026 8.47515 21.4748 6.99517 20.486C5.51519 19.4972 4.36164 18.0918 3.68036 16.4474C2.99909 14.803 2.82069 12.9936 3.16772 11.2478C3.51475 9.50209 4.37162 7.89844 5.63 6.63965"
              stroke="#252525" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M12 2V12" stroke="#252525" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            </path>
          </svg>
          <span class="nav-txt">Logout</span>
        </a>
      </div>
    </div>
  </div>
  <!--**********************************
            Sidebar end
        ***********************************-->

  <!--**********************************
            Content body start
        ***********************************-->
  <div class="outer-body">
    <div class="inner-body">
      <div class="content-body">
        <div class="container-fluid">
          <!-- row -->
          <div class="row">
            <div class="col-lg-12">
              <div class="profile card card-body px-3 pt-3 pb-0">
                <div class="profile-head">
                  <div class="photo-content">
                    <div class="cover-photo rounded"></div>
                  </div>
                  <div class="profile-info">
                    <div class="profile-photo">
                      <img src="images/profile/profile.png" class="img-fluid rounded-circle" alt="" />
                    </div>

                    <% if (user) {%>
                      <div class="profile-details">
                        <div class="profile-name px-3 pt-2">
                          <h4 class="text-primary mb-0">
                            <%= user.first_name %>
                              <%= user.other_name %>
                                <%= user.last_name %>
                          </h4>
                          <p>
                            <%= user.role.charAt(0).toUpperCase() + user.role.slice(1) %>

                          </p>
                        </div>
                        <div class="profile-email px-2 pt-2">
                          <h4 class="text-muted mb-0">
                            <%= user.email %>
                          </h4>
                          <p>Email</p>
                        </div>

                        <% } %>
                          <div class="dropdown ms-auto">
                            <a href="#" class="btn btn-primary light light light sharp" data-bs-toggle="dropdown"
                              aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px"
                                viewbox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <rect x="0" y="0" width="24" height="24"></rect>
                                  <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                  <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                  <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                </g>
                              </svg></a>
                            <ul class="dropdown-menu dropdown-menu-end">
                              <li class="dropdown-item">
                                <i class="fa fa-user-circle text-primary me-2"></i>
                                View profile
                              </li>
                              <li class="dropdown-item">
                                <i class="fa fa-users text-primary me-2"></i>
                                Add to close friends
                              </li>
                              <li class="dropdown-item">
                                <i class="fa fa-plus text-primary me-2"></i> Add
                                to group
                              </li>
                              <li class="dropdown-item">
                                <i class="fa fa-ban text-primary me-2"></i>
                                Block
                              </li>
                            </ul>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4">
              <div class="row">
                <div class="col-xl-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="profile-statistics">
                        <div class="text-center">
                          <div class="row">
                            <div class="col">
                              <h3 class="m-b-0">150</h3>
                              <span>Follower</span>
                            </div>
                            <div class="col">
                              <h3 class="m-b-0">140</h3>
                              <span>Place Stay</span>
                            </div>
                            <div class="col">
                              <h3 class="m-b-0">45</h3>
                              <span>Reviews</span>
                            </div>
                          </div>
                          <div class="mt-4">
                            <a href="javascript:void(0);" class="btn btn-primary light light mb-1 me-1">Follow</a>
                            <a href="javascript:void(0);" class="btn btn-primary light light mb-1"
                              data-bs-toggle="modal" data-bs-target="#sendMessageModal">Send Message</a>
                          </div>
                        </div>
                        <!-- Modal -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="profile-blog">
                        <h5 class="text-primary d-inline">
                          Today Highlights
                        </h5>
                        <img src="images/profile/1.jpg" alt="" class="img-fluid mt-4 mb-4 w-100 rounded" />
                        <h4>
                          <a href="post-details.html" class="text-black">Darwin Creative Agency Theme</a>
                        </h4>
                        <p class="mb-0">
                          A small river named Duden flows by their place and
                          supplies it with the necessary regelialia. It is a
                          paradisematic country, in which roasted parts of
                          sentences fly into your mouth.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="profile-interest">
                        <h5 class="text-primary d-inline">Interest</h5>
                        <div class="row mt-4 sp4" id="lightgallery">
                          <a href="images/profile/2.jpg" data-exthumbimage="images/profile/2.jpg"
                            data-src="images/profile/2.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
                            <img src="images/profile/2.jpg" alt="" class="px-1 py-1 img-fluid rounded" />
                          </a>
                          <a href="images/profile/3.jpg" data-exthumbimage="images/profile/3.jpg"
                            data-src="images/profile/3.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
                            <img src="images/profile/3.jpg" alt="" class="px-1 py-1 img-fluid rounded" />
                          </a>
                          <a href="images/profile/4.jpg" data-exthumbimage="images/profile/4.jpg"
                            data-src="images/profile/4.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
                            <img src="images/profile/4.jpg" alt="" class="px-1 py-1 img-fluid rounded" />
                          </a>
                          <a href="images/profile/3.jpg" data-exthumbimage="images/profile/3.jpg"
                            data-src="images/profile/3.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
                            <img src="images/profile/3.jpg" alt="" class="px-1 py-1 img-fluid rounded" />
                          </a>
                          <a href="images/profile/4.jpg" data-exthumbimage="images/profile/4.jpg"
                            data-src="images/profile/4.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
                            <img src="images/profile/4.jpg" alt="" class="px-1 py-1 img-fluid rounded" />
                          </a>
                          <a href="images/profile/2.jpg" data-exthumbimage="images/profile/2.jpg"
                            data-src="images/profile/2.jpg" class="mb-1 col-lg-4 col-xl-4 col-sm-4 col-6">
                            <img src="images/profile/2.jpg" alt="" class="px-1 py-1 img-fluid rounded" />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="profile-news">
                        <h5 class="text-primary card-title d-inline">
                          Our Latest News
                        </h5>
                        <div class="media pt-3 pb-3">
                          <img src="images/profile/5.jpg" alt="image" class="me-3 rounded" width="75" />
                          <div class="media-body">
                            <h5 class="m-b-5">
                              <a href="post-details.html" class="text-black">Collection of textile samples</a>
                            </h5>
                            <p class="mb-0">
                              I shared this on my fb wall a few months back,
                              and I thought.
                            </p>
                          </div>
                        </div>
                        <div class="media pt-3 pb-3">
                          <img src="images/profile/6.jpg" alt="image" class="me-3 rounded" width="75" />
                          <div class="media-body">
                            <h5 class="m-b-5">
                              <a href="post-details.html" class="text-black">Collection of textile samples</a>
                            </h5>
                            <p class="mb-0">
                              I shared this on my fb wall a few months back,
                              and I thought.
                            </p>
                          </div>
                        </div>
                        <div class="media pt-3 pb-3">
                          <img src="images/profile/7.jpg" alt="image" class="me-3 rounded" width="75" />
                          <div class="media-body">
                            <h5 class="m-b-5">
                              <a href="post-details.html" class="text-black">Collection of textile samples</a>
                            </h5>
                            <p class="mb-0">
                              I shared this on my fb wall a few months back,
                              and I thought.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="card h-auto">
                <div class="card-body">
                  <div class="profile-tab">
                    <div class="custom-tab-1">
                      <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a href="#my-posts" data-bs-toggle="tab" class="nav-link active show">Posts</a>
                        </li>
                        <li class="nav-item">
                          <a href="#about-me" data-bs-toggle="tab" class="nav-link">About Me</a>
                        </li>
                        <li class="nav-item">
                          <a href="#profile-settings" data-bs-toggle="tab" class="nav-link">Setting</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div id="my-posts" class="tab-pane fade active show">
                          <div class="my-post-content pt-3">
                            <div class="post-input">
                              <textarea name="textarea" id="textarea" cols="30" rows="5"
                                class="form-control bg-transparent"
                                placeholder="Please type what you want...."></textarea>
                              <a href="javascript:void(0);" class="btn btn-primary light light light me-1 px-3"
                                data-bs-toggle="modal" data-bs-target="#linkModal"><i class="fa fa-link m-0"></i>
                              </a>
                              <!-- Modal -->

                              <a href="javascript:void(0);" class="btn btn-primary light light light me-1 px-3"
                                data-bs-toggle="modal" data-bs-target="#cameraModal"><i class="fa fa-camera m-0"></i>
                              </a>
                              <!-- Modal -->

                              <a href="javascript:void(0);" class="btn btn-primary light light" data-bs-toggle="modal"
                                data-bs-target="#postModal">Post</a>
                              <!-- Modal -->
                            </div>
                            <div class="profile-uoloaded-post border-bottom-1 pb-5">
                              <img src="images/profile/8.jpg" alt="" class="img-fluid w-100 rounded" />
                              <a class="post-title" href="post-details.html">
                                <h3 class="text-black">
                                  Collection of textile samples lay spread
                                </h3>
                              </a>
                              <p>
                                A wonderful serenity has take possession of
                                my entire soul like these sweet morning of
                                spare which enjoy whole heart.A wonderful
                                serenity has take possession of my entire
                                soul like these sweet morning of spare which
                                enjoy whole heart.
                              </p>
                              <button class="btn btn-primary light light me-2">
                                <span class="me-2"><i class="fa fa-heart"></i></span>Like
                              </button>
                              <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#replyModal">
                                <span class="me-2"><i class="fa fa-reply"></i></span>Reply
                              </button>
                            </div>
                            <div class="profile-uoloaded-post border-bottom-1 pb-5">
                              <img src="images/profile/9.jpg" alt="" class="img-fluid w-100 rounded" />
                              <a class="post-title" href="post-details.html">
                                <h3 class="text-black">
                                  Collection of textile samples lay spread
                                </h3>
                              </a>
                              <p>
                                A wonderful serenity has take possession of
                                my entire soul like these sweet morning of
                                spare which enjoy whole heart.A wonderful
                                serenity has take possession of my entire
                                soul like these sweet morning of spare which
                                enjoy whole heart.
                              </p>
                              <button class="btn btn-primary light light me-2">
                                <span class="me-2"><i class="fa fa-heart"></i></span>Like
                              </button>
                              <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#replyModal">
                                <span class="me-2"><i class="fa fa-reply"></i></span>Reply
                              </button>
                            </div>
                            <div class="profile-uoloaded-post pb-3">
                              <img src="images/profile/8.jpg" alt="" class="img-fluid w-100 rounded" />
                              <a class="post-title" href="post-details.html">
                                <h3 class="text-black">
                                  Collection of textile samples lay spread
                                </h3>
                              </a>
                              <p>
                                A wonderful serenity has take possession of
                                my entire soul like these sweet morning of
                                spare which enjoy whole heart.A wonderful
                                serenity has take possession of my entire
                                soul like these sweet morning of spare which
                                enjoy whole heart.
                              </p>
                              <button class="btn btn-primary light light me-2">
                                <span class="me-2"><i class="fa fa-heart"></i></span>Like
                              </button>
                              <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#replyModal">
                                <span class="me-2"><i class="fa fa-reply"></i></span>Reply
                              </button>
                            </div>
                          </div>
                        </div>
                        <div id="about-me" class="tab-pane fade">
                          <div class="profile-about-me">
                            <div class="pt-4 border-bottom-1 pb-3">
                              <h4 class="text-primary">About Me</h4>
                              <p class="mb-2">
                                A wonderful serenity has taken possession of
                                my entire soul, like these sweet mornings of
                                spring which I enjoy with my whole heart. I
                                am alone, and feel the charm of existence
                                was created for the bliss of souls like
                                mine.I am so happy, my dear friend, so
                                absorbed in the exquisite sense of mere
                                tranquil existence, that I neglect my
                                talents.
                              </p>
                              <p>
                                A collection of textile samples lay spread
                                out on the table - Samsa was a travelling
                                salesman - and above it there hung a picture
                                that he had recently cut out of an
                                illustrated magazine and housed in a nice,
                                gilded frame.
                              </p>
                            </div>
                          </div>
                          <div class="profile-skills mb-5">
                            <h4 class="text-primary mb-2">Skills</h4>
                            <a href="javascript:void(0);"
                              class="btn btn-primary light light light btn-xs mb-1">Admin</a>
                            <a href="javascript:void(0);"
                              class="btn btn-primary light light light btn-xs mb-1">Dashboard</a>
                            <a href="javascript:void(0);"
                              class="btn btn-primary light light light btn-xs mb-1">Photoshop</a>
                            <a href="javascript:void(0);"
                              class="btn btn-primary light light light btn-xs mb-1">Bootstrap</a>
                            <a href="javascript:void(0);"
                              class="btn btn-primary light light light btn-xs mb-1">Responsive</a>
                            <a href="javascript:void(0);"
                              class="btn btn-primary light light light btn-xs mb-1">Crypto</a>
                          </div>
                          <div class="profile-lang mb-5">
                            <h4 class="text-primary mb-2">Language</h4>
                            <a href="javascript:void(0);" class="text-muted pe-3 f-s-16"><i
                                class="flag-icon flag-icon-us"></i>
                              English</a>
                            <a href="javascript:void(0);" class="text-muted pe-3 f-s-16"><i
                                class="flag-icon flag-icon-fr"></i>
                              French</a>
                            <a href="javascript:void(0);" class="text-muted pe-3 f-s-16"><i
                                class="flag-icon flag-icon-bd"></i>
                              Bangla</a>
                          </div>
                          <div class="profile-personal-info">
                            <h4 class="text-primary mb-4">
                              Personal Information
                            </h4>
                            <div class="row mb-2">
                              <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">
                                  Name <span class="pull-end">:</span>
                                </h5>
                              </div>
                              <div class="col-sm-9 col-7">
                                <span>Mitchell C.Shay</span>
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">
                                  Email <span class="pull-end">:</span>
                                </h5>
                              </div>
                              <div class="col-sm-9 col-7">
                                <span>example@examplel.com</span>
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">
                                  Availability
                                  <span class="pull-end">:</span>
                                </h5>
                              </div>
                              <div class="col-sm-9 col-7">
                                <span>Full Time (Free Lancer)</span>
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">
                                  Age <span class="pull-end">:</span>
                                </h5>
                              </div>
                              <div class="col-sm-9 col-7">
                                <span>27</span>
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">
                                  Location <span class="pull-end">:</span>
                                </h5>
                              </div>
                              <div class="col-sm-9 col-7">
                                <span>Rosemont Avenue Melbourne, Florida</span>
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">
                                  Year Experience
                                  <span class="pull-end">:</span>
                                </h5>
                              </div>
                              <div class="col-sm-9 col-7">
                                <span>07 Year Experiences</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="profile-settings" class="tab-pane fade">
                          <div class="pt-3">
                            <div class="settings-form">
                              <h4 class="text-primary">Account Setting</h4>
                              <form>
                                <div class="row">
                                  <div class="mb-3 col-md-6">
                                    <label class="form-label">Email</label>
                                    <input type="email" placeholder="Email" class="form-control" />
                                  </div>
                                  <div class="mb-3 col-md-6">
                                    <label class="form-label">Password</label>
                                    <input type="password" placeholder="Password" class="form-control" />
                                  </div>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label">Address</label>
                                  <input type="text" placeholder="1234 Main St" class="form-control" />
                                </div>
                                <div class="mb-3">
                                  <label class="form-label">Address 2</label>
                                  <input type="text" placeholder="Apartment, studio, or floor" class="form-control" />
                                </div>
                                <div class="row">
                                  <div class="mb-3 col-md-6">
                                    <label class="form-label">City</label>
                                    <input type="text" class="form-control" />
                                  </div>
                                  <div class="mb-3 col-md-4">
                                    <label class="form-label">State</label>
                                    <select class="form-control default-select wide profile-page" id="inputState">
                                      <option selected="">Choose...</option>
                                      <option>Option 1</option>
                                      <option>Option 2</option>
                                      <option>Option 3</option>
                                    </select>
                                  </div>
                                  <div class="mb-3 col-md-2">
                                    <label class="form-label">Zip</label>
                                    <input type="text" class="form-control" />
                                  </div>
                                </div>
                                <div class="mb-3">
                                  <div class="form-check custom-checkbox">
                                    <input type="checkbox" class="form-check-input" id="gridCheck" />
                                    <label class="form-check-label form-label" for="gridCheck">
                                      Check me out</label>
                                  </div>
                                </div>
                                <button class="btn btn-primary light light" type="submit">
                                  Sign in
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer out-footer">
        <div class="copyright">
          <p>&copy; Copyright <%= new Date().getFullYear(); %>. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
  <!--**********************************
            Content body end
        ***********************************-->
  <div class="modal fade" id="linkModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Social Links</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="modal-body">
          <a class="btn-social facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
          <a class="btn-social google-plus" href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a>
          <a class="btn-social linkedin" href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
          <a class="btn-social instagram" href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
          <a class="btn-social twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
          <a class="btn-social youtube" href="javascript:void(0)"><i class="fab fa-youtube"></i></a>
          <a class="btn-social whatsapp" href="javascript:void(0)"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="cameraModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload images</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group custom_file_input mb-3">
            <span class="input-group-text border-0">Upload</span>
            <div class="form-file">
              <input type="file" class="form-file-input form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="postModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="modal-body">
          <textarea name="textarea" id="textarea2" cols="30" rows="5" class="form-control bg-transparent"
            placeholder="Please type what you want...."></textarea>
          <a class="btn btn-primary light light mt-2" href="javascript:void(0)">Post</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="replyModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Post Reply</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <textarea class="form-control h-50" rows="4">Message</textarea>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary light light">
            Reply
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="sendMessageModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Send Message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="modal-body">
          <form class="comment-form">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="text-black font-w600 form-label">Name <span class="required">*</span></label>
                  <input type="text" class="form-control" value="Author" name="Author" placeholder="Author" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="text-black font-w600 form-label">Email <span class="required">*</span></label>
                  <input type="text" class="form-control" value="Email" placeholder="Email" name="Email" />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mb-3">
                  <label class="text-black font-w600 form-label">Comment</label>
                  <textarea rows="4" class="form-control h-50" name="comment" placeholder="Comment"></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mb-3 mb-0">
                  <input type="submit" value="Post Comment" class="submit btn btn-primary light light" name="submit" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="cameraModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload images</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="input-group custom_file_input mb-3">
            <span class="input-group-text border-0">Upload</span>
            <div class="form-file">
              <input type="file" class="form-file-input form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--**********************************
            Footer start
        ***********************************-->

  <!--**********************************
            Footer end
        ***********************************-->

  <!--**********************************
           Support ticket button start
        ***********************************-->

  <!--**********************************
           Support ticket button end
        ***********************************-->
</div>
<!--**********************************
        Main wrapper end
    ***********************************-->
