<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover"
    style="background-image: url(/img/banner/12.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Job Details</h1>
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="jobList.ejs">Job List</a></li>
                    <li class="active">Job Details</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Blog
    ============================================= -->
<div class="blog-area single full-blog right-sidebar full-blog default-padding">
    <div class="container">
        <div class="blog-items">
            <div class="row">
                <div class="blog-content col-lg-8 col-md-12">

                    <div class="blog-item-box">
                        <div>
                            <a href="/">
                                <i class="fas fa-arrow-left"></i>
                                <span>Back</span>
                            </a>
                        </div>

                        <div class="item pb-3">
                            <div class="info mt-3 mx-4">
                                <h3 class="mt-2" style="color:#1C1C1C; font-size: 24px; font-weight: 700; line-height: 36px;">
                                    <%= data.title %>
                                </h3>
                                <div class="d-flex mb-3">
                                    <div class="mr-4" style="color: #232323;font-weight: 400; font-size: 16px;line-height: 24px;"><%= data.companyName %>  </div> 
                                    <div style="color: #767F8C;font-size: 16px;font-weight: 400;line-height: 20px;"> <% if (data.workType !== 'Internship') { %> 
                                        Experience : <%= data.experience %> years
                                    <% } else { %>
                                        
                                                No Experience Needed
                                            
                                        <% } %> </div>
                                </div>
                                <hr>
                                
                                    
                                <p class="mt-3" style="color: #000000; font-weight: 600; font-size: 20px; line-height: 30px;">Job Description <br> <%- data.jobDescription %></p>
                                <p style="color: #000000;font-size: 16px;font-weight: 400;line-height: 19px;"></p>
                                

                                <p>Application closing date <br>
                                    <%= data.closingDate %>
                                </p>
                                <% if (data.jobCategory === 'Regular' && data.methodOfApplication) { %>
                                    <p>Method of Application<br>Interested and qualified candidates should <br><%= data.methodOfApplication %></p>
                                  <% } %>
                                  

                            </div>
                            <!-- The Modal -->
                            <% if (data.jobCategory === 'Premium') { %>
                            <div class="modal custom-modal" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Application Form</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal Body -->
                                        <div class="modal-body">
                                            <form class="mb-1" action="/apply-job/<%= job._id %> " method="POST"
                                                enctype="multipart/form-data">
                                                <div class="mb-3">
                                                    <label for="first_name" class="form-label">First Name:</label>
                                                    <input type="text" class="form-control" id="first_name"
                                                        name="first_name" value="<%= user.first_name %>" readonly
                                                        required>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="other_names" class="form-label">Other Names:</label>
                                                    <input type="text" class="form-control" id="other_names"
                                                        name="other_names" readonly required>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="last_name" class="form-label">Last Name:</label>
                                                    <input type="text" class="form-control" id="last_name"
                                                        name="last_name" value="<%= user.last_name %>" readonly
                                                        required>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="email" class="form-label">Email:</label>
                                                    <input type="email" class="form-control" id="email" name="email"
                                                        value="<%= user.email %>" readonly required>
                                                </div>

                                                <!-- Other form fields go here -->
                                                <div class="mb-3">
                                                    <label for="contact_address" class="form-label">Contact
                                                        Address</label>
                                                    <input type="text" class="form-control" id="contact_address"
                                                        name="contact_address" required>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="phone_no" class="form-label">Phone Number</label>
                                                    <input type="tel" class="form-control" id="phone_no" name="phone_no"
                                                        required>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="gender" class="form-label">Gender</label>
                                                    <select id="gender" class="form-select" name="gender" required>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="genderSpecify" class="form-label">Specify
                                                        Gender</label>
                                                    <input type="text" class="form-control" id="genderSpecify"
                                                        name="genderSpecify" required>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="dateOfBirth" class="form-label">Date of Birth</label>
                                                    <input type="date" class="form-control" id="dateOfBirth"
                                                        name="dateOfBirth" required>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="additionalInfo" class="form-label">Additional Info</label>
                                                    <textarea class="form-control" id="additionalInfo" name="additionalInfo"></textarea>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="cv" class="form-label">Upload CV</label>
                                                    <input type="file" class="form-control" id="cv" name="cv">
                                                </div>


                                                <div class="mb-3">
                                                    <label for="coverLetter" class="form-label">Cover Letter</label>
                                                    <textarea class="form-control" id="coverLetter" name="coverLetter"
                                                        ></textarea>
                                                </div>

                                                <button type="submit">Submit Application</button>
                                                <!-- <a href="/apply-job/<%= data._id %>">Submit Application</a> -->
                                            </form>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>

                    </div>

                </div>

                <!-- Start Sidebar -->
                <div class="blog-content col-lg-4 col-md-12 mt-4">
                    <div class="blog-item-box ">
                        
                        <div class="item pb-3">
                            <div class="info mt-3 row">
                              <div class="col">
                                <div>
                                    <p class="p-0 mb-0" style="font-size: 16px; font-weight: 700; color: #000000;">Location<br></p>
                                    <p class="mt-0 p-0"><%= data.jobLocation %></p>
                                </div>
                              </div>
                              <div class="col">
                                <div>
                                    <p class="p-0 mb-0" style="font-size: 16px; font-weight: 700; color: #000000;">Date Posted<br></p>
                                    <p class="mt-0 p-0"><%= data.createdAt.toDateString() %></p>
                                </div>
                              </div>

                            </div>
                            <div class=" mx-3  row ">
                              <div class="col">
                                <div>
                                    <p class="p-0 mb-0" style="font-size: 16px; font-weight: 700; color: #000000;">Salary Range<br></p>
                                    <p class="mt-0 p-0"><%= data.salaryRange %></p>
                                </div>
                              </div>

                            </div>

                            <div class="d-grid gap-2 mx-4">
                                <button type="button" class="btn btn-outline-dark butt my-2"><%= data.jobType %></button>
                                <button type="button" class="btn btn-outline-dark butt my-2"><%= data.workType %></button>
                                <button type="button" class="btn btn-outline-dark butt my-2"><%= data.jobLocation %></button>
                            </div>
                           <div class="mx-5 pt-3">                            
                            <% if (data.jobCategory === 'Premium' && user.userCategory === 'Regular') { %>
                                <button type="button" class="m-2 btn btn-primary filter col-12" style="width: 310px;" disabled>
                                  Upgrade to Premium to Apply
                                </button>
                              <% } else if (data.jobCategory === 'Premium') { %>
                                <button id="applyNowBtn" type="button" class="btn btn-primary col-12 filter">
                                  Apply Now
                                </button>
                              <% } %>
                           </div>
                        </div>

                    </div>
                </div>
                <div class="sidebar col-lg-4 col-md-12 blog-content">
                    <!-- <aside class="blog-item-box"> -->
                        <!-- Dynamic Recommended Job Post -->
                        <!-- <div class="sidebar-item recent-post">
                            <div class="title">
                              <h4>Recommended Jobs</h4>
                            </div>
                            <ul>
                                <% recommendedJobs.forEach(recommendedJob => { %>
                                  <li>
                                    <div class="info">
                                      <div class="meta-title">
                                        <% if (recommendedJob.createdAt) { %>
                                          <span class="post-date"><i class="fas fa-clock"></i> <%= recommendedJob.createdAt.toDateString() %></span>
                                        <% } %>
                                      </div>
                                      <a href="/jobdetails/<%= recommendedJob._id %>"><%= recommendedJob.title %></a>
                                    </div>
                                  </li>
                                <% }) %>
                              </ul>
                              
                          </div>

                        <div class="sidebar-item social-sidebar">
                            <div class="title">
                                <h4>follow us</h4>
                            </div>
                            <div class="sidebar-info">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com/profile.php?id=61555619157391&mibextid=ZbWKwL">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://www.instagram.com/teqverse?igsh=MjhhZWJ6bWoyazNk"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="">
                                        <a href="https://twitter.com/teqverse56653">
                                            <i class="fab fa-xing"></i>
                                        </a>
                                    </li>
                                    <li class="pinterest">
                                        <a href="https://www.youtube.com/@TEQVERSE-ou4sv">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="https://www.tiktok.com/@teqverse?_t=8jODJgriF7e&_r=1"> <i class="fab fa-tiktok fa-3x" style="color: white;"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                    <!-- </aside> -->
                </div> 
                <!-- End Start Sidebar -->
            </div>
        </div>
    </div>
</div>

<!-- End Blog -->
<a href="https://wa.me/2349050340306" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>


<!-- Initialization script -->
<script>
    // Initialize TinyMCE
    tinymce.init({
        selector: '#coverLetter',
        plugins: 'autoresize',
        autoresize_bottom_margin: 16,
        toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat',
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('applyNowBtn').addEventListener('click', function(event) {
            event.preventDefault(); 
            $('#myModal').modal('show');
        });
    });
</script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyOQM8DRcZl3/JzzAFeWHrH/6Y6U7WsCj" crossorigin="anonymous"></script> -->


